body {
    margin: 0px;
}

#sky{
  position:relative;
  width: 160px;
  height: 800px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

#clickthroughButton{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}